.tx-info > p, tx-events > p {
    padding: 15px 10px;
    font-weight: 800;
    font-size: 18px;
    word-wrap: break-word;
    a:hover{
        color: var(--second-color);
    }
    a {
        color: var(--main-color);
    }
}

.tx-info-card {
    word-wrap: break-word;
    padding: 30px;
    margin-bottom: 8px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border: 2px solid;
    border-radius: var(--border-radius);
    border-color: var(--second-color);
    margin-left: 8px;
}

@media only screen and (max-width: 600px) {
    .topic-card, .tx-info {
        font-size: 12px;
    }
}

.theme-color {
    color: var(--second-color);
}