.layout {
    color: var(--txt-color);
    overflow: hidden;
}

.layout__content {
    background-color: var(--second-bg);
    min-height: 100vh;
}

.layout__content-main {
    padding: 50px;
}

.layout__footer {
    padding-left: var(--sidebar-width);
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    min-height: 10vh;
}

@media only screen and (max-width: 1256px) {
    .layout__content {
        padding-left: 0px;
    }

    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .layout__content {
        padding-left: 0px;
    }

    .sidebar {
        display: none;
    }
}