.header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);

}

.header__search {
    position: relative;
    height: 50px;
    width: 500px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.header__search > input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
}

.header__search > i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.header__left {
    display: flex;
    align-items: flex-start;
}

.header__center{
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: flex-end;
}

.header__right-item ~ .header__right-item {
    margin-left: 30px;
}

.header__logo {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

    &:hover{
        color: var(--second-color-orange);
    }
}

.header__logo > img {
    height: 50px;
}

@media only screen and (max-width: 1256px) {
    .header__logo {
        font-size: 0px;
    }
}