.block-info > p {
    padding: 15px 10px;
    font-weight: 800;
    font-size: 20px;
    a:hover{
        color: var(--main-color);
    }
    a{
        color: var(--second-color)
    }
}

.txs-info {
    a:hover{
        color: #fff;
    }
    a{
        color: var(--second-color)
    }
}

.theme-color {
    color: var(--main-color)
}